<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>shopping</title>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
</head>
<body>
    <table th:each="i:${s}">
        <input type="hidden" class="id" th:value="${i.getId()}">
        <tr >
            <td>商品</td>
            <td th:text="${i.getSpTitle()}"></td>
        </tr>
        <tr>
            <td>图片</td>
            <td><img style="width: 250px;height: 250px;" th:src="${i.getImages()}"></td>
        </tr>
        <tr>
            <td>描述</td>
            <td th:text="${i.getSpText()}"></td>
        </tr>
        <tr >
            <td>价格</td>
            <td th:text="'￥'+${i.getSpPrice()}"></td>
            <input type="hidden" class="price" th:value="${i.getSpPrice()}">
        </tr>
        <tr >
            <td>购买数量</td>
            <td><input th:id="'count'+${i.getId()}" th:onchange="'sum('+${i.getId()}+','+${i.getSpPrice()}+','+value+')'" class="count" value="1"><span th:id="'sp'+${i.getId()}">总计：￥3</span></td>
            <td><input type="button" th:onclick="'subSpOrder('+${i.getId()}+','+${i.getSpPrice()}+')'" value="点击购买"></input></td>
        </tr>
            <hr/>
    </table>
</body>
<script>
    //获取cookie
    function getCookie(name)
    {
        var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
        if(arr != null) return unescape(arr[2]);
        return false;
    }

    function subSpOrder(spid,price) {
        var count = $("#count"+spid).val();
        var sumprice = price * count;
        $.ajax({
            url: "/putOrder",
            type: "post",
            data: 'spid='+spid+'&userid='+getCookie("id")+'&count='+count+'&price='+price+'&sumprice='+sumprice,
            success: function(data) {
                if (data.success == true){
                    location.href = "/createQrCode?url=http://106.53.100.231:80/sendPay?url="+btoa(JSON.stringify(data));
                }else {
                    alert("订单创建失败")
                }

                // data = jQuery.parseJSON(data);  //dataType指明了返回数据为json类型，故不需要再反序列化
            }
        });

    }


    function sum(id,price,value){
        var sum = price * value;
        $("#sp"+id).text("总计：￥"+sum);
    }
</script>
</html>